:root {
    --primary-color: #DC1515;
    --secondary-color: #C8933B;
    --light-color: #ffffff;
    --dark-color: #333333;
    --grey-color: #F3F1F1;
}
  
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    color: var(--dark-color);
    background: var(--light-color);
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

#app {
    opacity: 0;
    transition: all 0.25s ease-in;
    overflow: auto;
    position: relative;
}
  
#app.show {
    opacity: 1;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    outline: none;
}
  
a:hover, a:focus, a.active {
    color: var(--dark-color);
    text-decoration: none;
    outline: none;
}

button:hover, button:focus, button:active, button.active,
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    box-shadow: none;
    outline: none;
}

button.active:focus, button:active:focus,
.btn:not(:disabled):not(.disabled).active:focus,
.btn:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    margin-bottom: 0.55rem;
    line-height: 1.3;
}

/* Custom Animation */
#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #ffffff;
    z-index: 9999999;
}

.sk-three-bounce {
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #ffffff;
}

.sk-three-bounce .sk-child {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
    animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
}

.sk-three-bounce .sk-bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.sk-three-bounce .sk-bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-three-bounce {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes sk-three-bounce {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* Utilities */
.section-padding {
    padding: 60px 0;
}

.section-heading h3 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
    position: relative;
}

.section-heading .section-title::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.625rem;
    width: 100px;
    height: 2px;
    background: #A9A8A8;
    margin: 0 auto;
}

.section-heading span {
    color: #A9A8A8;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
}

.section-heading p {
    margin-bottom: 2rem;
}

.btn {
    padding: 10px 30px;
    border-radius: 3px;
    font-size: 0.875rem;
    font-weight: 600;
}
  
.btn-primary {
    color: var(--light-color);
    background: var(--primary-color);
    border-color: var(--primary-color);
}
  
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary.active {
    color: var(--primary-color);
    background: transparent !important;
    border-color: var(--primary-color);
}
  
.btn-secondary {
    color: var(--light-color);
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}
  
.btn-secondary:hover, 
.btn-secondary:focus, 
.btn-secondary.active {
    color: var(--secondary-color);
    background: transparent !important;
    border-color: var(--secondary-color);
}
  
.btn-light {
    color: var(--primary-color);
    background: var(--light-color);
    border-color: var(--light-color);
}
  
.btn-light:hover, 
.btn-light:focus, 
.btn-light.active { 
    color: var(--light-color);
    background: var(--primary-color);
    border-color: var(--primary-color);
}
  
.btn-rounded {
    border-radius: 1.875rem !important;
}

.text-dark {
    color: var(--dark-color);
}

.text-light {
    color: var(--light-color);
}

.text-primary {
    color: var(--primary-color) !important;
}

.text-secondary {
    color: var(--secondary-color);
}

.bg-dark {
    background: var(--dark-color);
    color: var(--light-color);
}

.bg-grey {
    background: var(--grey-color);
    color: var(--dark-color)
}

.bg-primary {
    background: var(--primary-color) !important;
    color: var(--light-color);
}

.bg-secondary {
    background: var(--secondary-color);
    color: var(--light-color);
}

.border-dark {
    border: 1px solid var(--dark-color);
}

.border-light {
    border: 1px solid var(--light-color);
}

.border-grey {
    border: 1px solid var(--grey-color);
}

.border-primary {
    border: 1px solid var(--primary-color);
}

.border-secondary {
    border: 1px solid var(--secondary-color);
}
 
.dots {
    position: absolute;
    z-index: 0;
    opacity: 1;
    background-size: 15px 15px;
    background-image: radial-gradient(hsla(263.72, 15.83%, 31.06%, .04) 15%, transparent 0), radial-gradient(hsla(263.72, 15.83%, 31.06%, .04) 15%, transparent 0);
}

.d-1 {
    top: 0;
    left: 0;
    height: 150px;
    width: 150px;
}

.d-2 {
    top: 0;
    right: 0;
    height: 150px;
    width: 150px;
}

/* Navigation */
.header {
    padding: 1.25rem 0;
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    background: transparent;
    transition: all 0.3s ease-in-out
}

.header.fixed,
.header.sticky_head {
    position: fixed;
    padding: 0.25rem 0 0 0;
    background: var(--primary-color);
    transition: all 0.3s ease-in;
    box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35)
}

.header.fixed .topbar,
.header.sticky_head .topbar {
    position: relative;
    top: 0.625rem;
}

.header.fixed .navbar,
.header.sticky_head .navbar {
    position: relative;
    top: 0;
}

.header .topbar .topbar-nav .topbar-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header .topbar .topbar-nav .topbar-link li:not(:first-child) {
    margin-left: 1.5rem;
}

.header .topbar .topbar-nav .topbar-link li a {
    color: var(--light-color);
    font-size: 0.8125rem;
    font-weight: 700;
}

.header .topbar .topbar-nav .topbar-link li svg {
    color: var(--secondary-color);
    font-size: 1rem;
    margin-right: 0.625rem;
}

.header .navbar {
    position: relative;
    top: -0.625rem;
    padding: 0;
}

.header .navbar-brand {
    position: relative;
    top: -0.625rem;
    max-width: 200px;
}

.header .navbar .navbar-nav .nav-item .nav-link {
    color: var(--light-color);
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
}

.header .navbar .navbar-nav .nav-item .nav-link:hover {
    color: var(--secondary-color);
}

/* Showcase */
.showcase {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1;
}

.showcase::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: -1;
}

.carousel-indicators {
    flex-direction: column;
    bottom: 45%;
    margin-left: 6.5%;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.showcase-content {
    color: var(--light-color);
    padding: 0.625rem 0;
}

.showcase .showcase-content h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.showcase .showcase-content p {
    margin-bottom: 2rem;
    font-size: 1.125rem;
}

.showcase .social li {
    display: flex;
    justify-content: flex-end;
}

.showcase .social li svg {
    color: var(--secondary-color);
    font-size: 1rem;
    margin-bottom: 0.625rem;
}

/* Explore */
.explore {
    position: relative;
    margin-top: -100px;
    z-index: 99;
}

.explore .explore-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--light-color);   
    font-size: 1rem;
    font-weight: 700; 
    height: 100px;
    cursor: pointer;
}

.explore .explore-content:hover {
    background: rgba(220, 21, 21, 0.75);
    border-radius: 5px 5px 0 0;
}

/* About Us */
.about-us {
    position: relative;
}

.about-us .about-items {
    display: flex;
    justify-content: flex-end;
    transform: translateX(-25px);
}

.about-us .about-item {
    width: 350px;
    height: 350px;
    border: 4px solid var(--primary-color);
    border-radius: 4px;
    margin: 25px 0 0 25px;
}

.about-us .about-img {
    position: relative;    
    width: 350px;
    height: 350px;
    bottom: 30px;
    left: 20px;
    background: url('../media/about.png') no-repeat center center/cover;
    border-radius: 4px;
}

.about-us .about-us-card {
    padding: 50px;
    border-radius: 5px;
    background: var(--grey-color);
    border: 2px solid var(--primary-color);
}

.about-us .about-us-img {      
    width: 300px;
    height: 300px;
    margin: 0 30px 12px 0;
    float: left;
    background: url('../media/about-img.png') no-repeat center center/cover;
    border-radius: 4px;
} 

/* Our Services */
.services {
    position: relative;
}

.services .services-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: 30px;
    color: var(--dark-color);
    background: var(--light-color);
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
    transition: 0.2s ease-in-out;
}

.services .services-content:hover {
    color: var(--light-color);
    background: var(--primary-color);
    box-shadow: 0 10px 10px rgba(84, 87, 92, 0.3);
}

.services .services-content svg {
    width: 100px;
    height: 100px;
    fill: var(--dark-color);
    margin-bottom: 1.125rem;
}

.services .services-content:hover > svg {
    fill: var(--light-color);
}

.services .services-content h4 {
    font-size: 1.125rem;
    position: relative;
}

.services .services-content h4::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.625rem;
    width: 60px;
    border: 1px solid;
    border-color: inherit;
    margin: 0 auto;
}

.services .services-content span {
    font-weight: 600;
    margin-top: 0.75rem;
}

/* Our Products */
.products {
    position: relative;
}

.products .nav-pills .nav-link {
    color: var(--light-color);
    background-color: var(--primary-color);
    padding: 0.875rem 1rem;
    border-radius: 0;
    margin-bottom: 5px;
}

.products .nav-pills .nav-link.active {
    color: var(--light-color);
    background-color: var(--secondary-color);
}

.products .nav-pills .nav-link .title {
    font-size: 1.125rem;
    font-weight: 600;
}

.products .nav-pills .nav-link span {
    display: block;
}

.products .products-item .products-image {
    height: 300px;
    width: 100%;
} 

.products .products-item .products-heading {
    background: #F7F7F7;
    padding: 0.875rem 1.5rem;
}

.products .products-item .products-heading svg {
    font-size: 1rem;
    color: var(--primary-color);
    margin-right: 10px;
}

.products .products-item .products-heading a {
    color: var(--primary-color);
    font-size: 0.875rem;
    font-weight: 600;
}

/* Call To Action */
#cta.carousel {
    display: none;
}

.cta-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.control {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.control-prev {
    transform: translateX(-60px);
}

.control-prev,
.control-next {
    position: absolute;
    bottom: 24px;
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 1rem;
    text-align: center;
    color: var(--light-color);
    background: var(--primary-color);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    z-index: 1;
}

.control-prev:hover,
.control-prev:focus,
.control-next:hover,
.control-next:focus {
    color: var(--light-color);
    background: var(--secondary-color);
}

/* Page Intro */
.page-intro {
    position: relative;
    padding: 100px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../media/page-intro.png') no-repeat center center/cover;
    margin-top: 100px;
    z-index: 0;
}

.page-intro::after {
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.page-intro .page-intro-content {
    padding: 10px 0;
    text-align: center;
    text-shadow: 0 2px 2px rgba(31, 28, 19, 0.35);
}

.page-intro .page-intro-content h2 {
    color: var(--light-color);
    font-size: 3rem;
    font-weight: 700;
}

.page-intro .page-intro-content p {
    color: var(--light-color);
    font-size: 1.25rem;
}

/* breadcrumbs */
.breadcrumbs {
    font-size: 12px;
}

/* Breadnavs */
.breadnav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.breadnav .breadnav-item {
    width: 100%;
    padding: 10px;
    margin-right: 5px;
}

.breadnav .breadnav-btn {
    width: 50px;
    height: 45px;
    line-height: 45px;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
}

.breadnav .breadnav-btn:hover,
.breadnav .breadnav-btn:focus {
    color: var(--light-color );
    background: var(--primary-color) !important;
}

.breadnav-card {
    padding: 5px;
    background: var(--primary-color);
    position: relative;
}

.breadnav-select-group {
	height: 45px;
	position: relative;
}

.breadnav-select-group .breadnav-select {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 50px);
    height: 45px;
    padding: 10px 15px;
    border: 1px solid var(--light-color);
    color: var(--light-color);
    background: var(--primary-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    z-index: 1;
}

.breadnav-select-group .breadnav-select option {
    font-size: 1rem;
    color: var(--dark-color);
	background: var(--light-color);
}

.breadnav-select-group::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 45px;
	height: 45px;
	background-color: var(--grey-color);    
    background-image: url('data:image/svg+xml;utf8,<svg class="svg-inline--fa fa-chevron-down fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="rgb(51, 51, 51)" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path></svg>');
    background-size: 0.9rem auto, 100%;
	background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
	z-index: 3;
}

.breadnav-select-group:hover::after {
    background-image: url('data:image/svg+xml;utf8,<svg class="svg-inline--fa fa-chevron-up fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="rgb(51, 51, 51)" d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z"></path></svg>');
}

/*  Page Info */
.page-info {
    position: relative;
}

.page-info .page-info-content {     
    padding: 30px;
    text-align: center;
}

.page-info .chat-field,
.page-info .offer-field {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid var(--dark-color);
}

.page-info .offer-field {
    border-bottom: 1px solid var(--light-color);
}

.page-info .chat-field,
.page-info .chat-field::placeholder {
    color: var(--dark-color);
}

.page-info .offer-field,
.page-info .offer-field::placeholder {
    color: var(--light-color);
}

/* Product */
.product {
    position: relative;
}

.product .card {
    border: 0;
}

.product .card-body {
    padding: 0;
}

.product .product-image {
    margin-bottom: 20px;
}

.product .product-nav .product-item img {
    width: 85%;
    margin: auto;
}

.product .product-num {
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 40%;
    bottom: 0;
}

.product .product-num span {
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-color);
}

.product .product-num svg {
    width: 4rem;
}

/* Services Modal */
.services-modal {
    background: rgba(0, 0, 0, 0.85);
    overflow: hidden;
}

.services-modal button.close {
    position: relative;
    top: 50px;
    right: 50px;
    color: var(--light-color);
    text-shadow: none;
    font-size: 2rem;
    opacity: .85;
    z-index: 99;
}

.services-modal .modal-content {
    padding: 30px;
    border: transparent;
}

/* Our Services */
.our-services {
    position: relative;
}

.our-services .card {
    border: 0;
}

.our-services .card:nth-child(even) {
    direction: rtl;
}

.our-services .card:nth-child(even) .card-body {
    direction: ltr;
}

.our-services .card:nth-child(even) .card-body .section-heading {
    text-align: right;
}

/* Partners */
.partners {
    position: relative;
}

.partner-item {
    padding: 0 30px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.partner-item img {
    width: 150px;
}

.partners .slick-prev, 
.partners .slick-next {
    width: 40px;
    height: 40px;
    z-index: 9;
}

.partners .slick-prev {
    background: var(--secondary-color) !important;
} 

.partners .slick-next {
    background: var(--primary-color) !important;
}

.partners .slick-prev:hover {
    background: var(--primary-color) !important;
} 

.partners .slick-next:hover {
    background: var(--secondary-color) !important;
}

/* Contact Us */
.contact-us {
    position: relative;
}

.contact-us .contact-form p {
    font-weight: 600;
}

.contact-us .form-field {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
    border-bottom: 1px solid #A9A8A8;
}

.contact-us .form-textarea {
    border: 0;
    border-radius: 3px;
    box-shadow: none;
    background: transparent;
    border: 1px solid #A9A8A8;
}

.contact-us .col-frame {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 0 0 15px;
}

.contact-us .contact-map {
    width: 100%;
    height: 100%;
}

.contact-us ul li {
    padding: 15px;
}

.contact-us ul li:not(:last-child) {
    border-bottom: 1px solid var(--grey-color);
}

.contact-us ul li svg {
    color: var(--dark-color);
    font-size: 1rem;
    margin-right: 1rem;
}

.contact-us ul li a {
    color: var(--dark-color);
}

/* Footer */
.footer {
    color: var(--light-color);
    background: var(--primary-color);
}

.footer .footer-brand a {
    display: block;
    color: var(--light-color);
    font-size: 1.125rem;
    font-weight: 600;
}

.footer .footer-social li {
    display: inline-flex; 
}
  
.footer .footer-social a {
    color: var(--light-color);
    padding: 0 0.625rem; 
}

.footer .footer-widget .widget-title {
    font-size: 1.125rem;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    margin-bottom: 1.25rem; 
}
  
.footer .footer-widget ul li a {
    display: inline-block; 
    color: var(--light-color);
    word-wrap: break-word;
    margin-bottom: 0.625rem;
}

.footer .footer-widget ul li a:hover {
    color: var(--secondary-color);
}

.footer .footer-widget ul li svg {
    color: var(--light-color);
    font-size: 1rem;
    margin-right: 0.625rem;
}
  
/* Copyright */
.copyright {
    padding: 20px 0px; 
    background: var(--dark-color);
}
  
.copyright .copyright-info p {
    margin: 0;
    font-size: 0.875rem;
    color: var(--light-color);
}
  
.copyright .copyright-info p a {
    color: var(--light-color);
    font-weight: 600; 
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}